USE [BKK_APP]
GO
/****** Object:  UserDefinedFunction [dbo].[__IDU_fnFormatDate]    Script Date: 5/30/2018 4:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

 
CREATE FUNCTION  [dbo].[__IDU_fnFormatDate] (@Datetime DATETIME, @FormatMask VARCHAR(32))

RETURNS VARCHAR(32)

AS

BEGIN

    DECLARE @StringDate VARCHAR(32)

    SET @StringDate = @FormatMask

    IF (CHARINDEX ('YYYY',@StringDate) > 0)

       SET @StringDate = REPLACE(@StringDate, 'YYYY',

                         DATENAME(YY, @Datetime))

    IF (CHARINDEX ('YY',@StringDate) > 0)

       SET @StringDate = REPLACE(@StringDate, 'YY',

                         RIGHT(DATENAME(YY, @Datetime),2))

    IF (CHARINDEX ('Month',@StringDate) > 0)

       SET @StringDate = REPLACE(@StringDate, 'Month',

                         DATENAME(MM, @Datetime))

    IF (CHARINDEX ('MON',@StringDate COLLATE SQL_Latin1_General_CP1_CS_AS)>0)

       SET @StringDate = REPLACE(@StringDate, 'MON',

                         LEFT(UPPER(DATENAME(MM, @Datetime)),3))

    IF (CHARINDEX ('Mon',@StringDate) > 0)

       SET @StringDate = REPLACE(@StringDate, 'Mon',

                                     LEFT(DATENAME(MM, @Datetime),3))

    IF (CHARINDEX ('MM',@StringDate) > 0)

       SET @StringDate = REPLACE(@StringDate, 'MM',

                  RIGHT('0'+CONVERT(VARCHAR,DATEPART(MM, @Datetime)),2))

    IF (CHARINDEX ('M',@StringDate) > 0)

       SET @StringDate = REPLACE(@StringDate, 'M',

                         CONVERT(VARCHAR,DATEPART(MM, @Datetime)))

    IF (CHARINDEX ('DD',@StringDate) > 0)

       SET @StringDate = REPLACE(@StringDate, 'DD',

                         RIGHT('0'+DATENAME(DD, @Datetime),2))

    IF (CHARINDEX ('D',@StringDate) > 0)

       SET @StringDate = REPLACE(@StringDate, 'D',

                                     DATENAME(DD, @Datetime))   

RETURN @StringDate

END


GO
/****** Object:  UserDefinedFunction [dbo].[IDU_GetTourCodeAccount]    Script Date: 5/30/2018 4:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IDU_GetTourCodeAccount]
(
	@pTourCodeId BIGINT 
)
 
RETURNS @strtable TABLE (
	SalesTransCoa NVARCHAR (50),
	SalesCoa NVARCHAR (50),
	SalesTempCoa NVARCHAR (50),
	CostTransCoa NVARCHAR (50),
	CostCoa NVARCHAR (50),
	CostTempCoa NVARCHAR (50),
	ApTempCoa NVARCHAR (50) 
)
AS
 
BEGIN
	
	DECLARE @SalesTrans NVARCHAR(50);  
	DECLARE @Sales NVARCHAR(50);
	DECLARE @SalesTemp NVARCHAR(50);
	DECLARE @CostTrans NVARCHAR(50); 
	DECLARE @Cost NVARCHAR(50);
	DECLARE @CostTemp NVARCHAR(50);
	DECLARE @ApTemp NVARCHAR(50);

	SELECT 
		
		  @SalesTrans=CASE WHEN T0.TransType IN ('SeriesTourCode') THEN
							'TourSalesTemp'
						WHEN T0.TransType IN ('MiceTourCode') THEN
							'TourMiceSalesTemp' 
						WHEN  T0.TransType IN ('IncentiveTourCode') AND T0.TourCategoryCode IN ('D','O') THEN
							'TourSalesTemp'
						WHEN  T0.TransType IN ('IncentiveTourCode') AND T0.TourCategoryCode IN ('I') THEN
							'TourInboundSalesTemp'
						WHEN T0.TourCategoryCode IN ('D','O') THEN
							'TourSales' 
						WHEN T0.TourCategoryCode IN ('I') THEN
							'TourInboundSales'
						ELSE 
							'SALAH BRO'
						END,
		
		  @CostTrans=CASE WHEN T0.TransType IN ('SeriesTourCode') THEN
							'TourCogsTemp'
						WHEN T0.TransType IN ('MiceTourCode') THEN
							'TourMiceCogsTemp' 
						WHEN  T0.TransType IN ('IncentiveTourCode') AND T0.TourCategoryCode IN ('D','O') THEN
							'TourCogsTemp'
						WHEN  T0.TransType IN ('IncentiveTourCode') AND T0.TourCategoryCode IN ('I') THEN
							'TourInboundCogsTemp'
						WHEN T0.TourCategoryCode IN ('D','O') THEN
							'TourCogs' 
						WHEN T0.TourCategoryCode IN ('I') THEN
							'TourInboundCogs'
						ELSE 
							'SALAH BRO'
						END,
		
		  @Sales=CASE WHEN T0.TransType IN ('SeriesTourCode') THEN
							'TourSales'
						WHEN T0.TransType IN ('MiceTourCode') THEN
							'TourMiceSales' 
						WHEN T0.TourCategoryCode IN ('D','O') THEN
							'TourSales'
						WHEN T0.TourCategoryCode IN ('I') THEN
							'TourInboundSales'
						ELSE 
							'SALAH BRO'
						END,
			@SalesTemp=CASE WHEN T0.TransType IN ('SeriesTourCode') THEN
								'TourSalesTemp'
							WHEN T0.TransType IN ('MiceTourCode') THEN
								'TourMiceSalesTemp' 
							WHEN T0.TourCategoryCode IN ('D','O') THEN
								'TourSalesTemp'
							WHEN T0.TourCategoryCode IN ('I') THEN
								'TourInboundSalesTemp'
							ELSE 
								'SALAH BRO'
							END, 
			@Cost=CASE WHEN T0.TransType IN ('SeriesTourCode') THEN
									'TourCogs'
								WHEN T0.TransType IN ('MiceTourCode') THEN
									'TourMiceCogs' 
								WHEN T0.TourCategoryCode IN ('D','O') THEN
									'TourCogs'
								WHEN T0.TourCategoryCode IN ('I') THEN
									'TourInboundCogs'
								ELSE 
									'SALAH BRO'
								END,
			@CostTemp=CASE WHEN T0.TransType IN ('SeriesTourCode') THEN
									'TourCogsTemp'
								WHEN T0.TransType IN ('MiceTourCode') THEN
									'TourMiceCogsTemp' 
								WHEN T0.TourCategoryCode IN ('D','O') THEN
									'TourCogsTemp'
								WHEN T0.TourCategoryCode IN ('I') THEN
									'TourInboundCogsTemp'
								ELSE 
									'SALAH BRO'
								END,
			@ApTemp=CASE WHEN T0.TransType IN ('SeriesTourCode') THEN
									'TourApTemp'
							WHEN T0.TransType IN ('MiceTourCode') THEN
								'TourMiceApTemp' 
							WHEN T0.TourCategoryCode IN ('D','O') THEN
								'TourApTemp'
							WHEN T0.TourCategoryCode IN ('I') THEN
								'TourInboundApTemp'
							ELSE 
								'SALAH BRO'
							END
	FROM Tx_TourCode T0 (NOLOCK) 
	WHERE T0.Id=@pTourCodeId
	;

	INSERT INTO @strtable ( 
		SalesTransCoa,
		SalesCoa ,
		SalesTempCoa ,
		CostTransCoa,
		CostCoa ,
		CostTempCoa ,
		ApTempCoa 
	) 
	SELECT (SELECT TOP 1 T0_.CoaCode FROM Tm_GeneralSetting_Coa T0_ (NOLOCK)  WHERE T0_.Code=@SalesTrans) AS SalesTransCoa ,
		(SELECT TOP 1 T0_.CoaCode FROM Tm_GeneralSetting_Coa T0_ (NOLOCK)  WHERE T0_.Code=@Sales) AS SalesCoa ,
		(SELECT TOP 1 T0_.CoaCode FROM Tm_GeneralSetting_Coa T0_ (NOLOCK)  WHERE T0_.Code=@SalesTemp) AS SalesTempCoa ,
		(SELECT TOP 1 T0_.CoaCode FROM Tm_GeneralSetting_Coa T0_ (NOLOCK)  WHERE T0_.Code=@CostTrans) AS CostTransCoa ,
		(SELECT TOP 1 T0_.CoaCode FROM Tm_GeneralSetting_Coa T0_ (NOLOCK)  WHERE T0_.Code=@Cost) AS CostCoa ,
		(SELECT TOP 1 T0_.CoaCode FROM Tm_GeneralSetting_Coa T0_ (NOLOCK)  WHERE T0_.Code=@CostTemp) AS CostTempCoa ,
		(SELECT TOP 1 T0_.CoaCode FROM Tm_GeneralSetting_Coa T0_ (NOLOCK)  WHERE T0_.Code=@ApTemp) AS ApTempCoa 
		 
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[IDU_Split]    Script Date: 5/30/2018 4:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IDU_Split]
(
	@SearchString NVARCHAR (max),
	@Separator NVARCHAR (5),
	@MaxLength INT=0
)
 
RETURNS @strtable TABLE (strindex INT,strval NVARCHAR (max))
AS
 
BEGIN
	DECLARE @SeparatorLength INT
	DECLARE @strindex INT=0;
	SET @SeparatorLength = DATALENGTH(@Separator) / 2
 
	IF (@SeparatorLength = 0)
		RETURN
 
	WHILE 1=1
	BEGIN
		IF (CHARINDEX(@Separator,@SearchString) = 0)
		BEGIN
			SET @strindex=@strindex+1;
			INSERT INTO @strtable
			VALUES (@strindex,@SearchString);
			BREAK;
		END
		SET @strindex=@strindex+1;

		IF @strindex=@MaxLength AND @MaxLength<>0
		BEGIN
			INSERT INTO @strtable
			VALUES (@strindex,  @SearchString)
			BREAK;
		END 
		ELSE 
		BEGIN
			INSERT INTO @strtable
			VALUES (@strindex, LEFT(@SearchString, CHARINDEX(@Separator,@SearchString) - 1))
		END 
 
		SET @SearchString = RIGHT(@SearchString, DATALENGTH(@SearchString)/2 - CHARINDEX(@Separator,@SearchString) - @SeparatorLength + 1)

		
	END
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[SpSysGetSapDb]    Script Date: 5/30/2018 4:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION  [dbo].[SpSysGetSapDb] ()

RETURNS NVARCHAR(30)

AS

BEGIN

    DECLARE @SapDb NVARCHAR(30)='BKK'

    

RETURN @SapDb

END


GO
/****** Object:  UserDefinedFunction [dbo].[terbilang]    Script Date: 5/30/2018 4:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[terbilang](@the_amount money)
RETURNS varchar(250) AS
BEGIN

DECLARE
    @divisor    bigint,
    @large_amount    money,
    @tiny_amount    money,
    @the_word    varchar(250),
    @dividen    money,
    @dummy        money,
    @weight    varchar(100),
    @unit        varchar(30),
    @follower    varchar(50),
    @prefix    varchar(10),
    @sufix        varchar(10)

--SET NOCOUNT ON
SET @the_word = ''
SET @large_amount = FLOOR(ABS(@the_amount) )
SET @tiny_amount = ROUND((ABS(@the_amount) - @large_amount ) * 100.00,0)
SET @divisor = 1000000000000.00

IF @large_amount > @divisor * 1000.00
    RETURN 'OUT OF RANGE'
   
WHILE @divisor >= 1
BEGIN       
    SET @dividen = FLOOR(@large_amount / @divisor)
    SET @large_amount = CONVERT(bigint,@large_amount) % @divisor
   
    SET @unit = ''
    IF @dividen > 0.00
        SET @unit=(CASE @divisor
            WHEN 1000000000000.00 THEN 'TRILYUN '
            WHEN 1000000000.00 THEN 'MILYAR '           
            WHEN 1000000.00 THEN 'JUTA '               
            WHEN 1000.00 THEN 'RIBU '
            ELSE @unit
        END )

    SET @weight = ''   
    SET @dummy = @dividen
    IF @dummy >= 100.00
        SET @weight = (CASE FLOOR(@dummy / 100.00)
            WHEN 1 THEN 'SE'
            WHEN 2 THEN 'DUA '
            WHEN 3 THEN 'TIGA '
            WHEN 4 THEN 'EMPAT '
            WHEN 5 THEN 'LIMA '
            WHEN 6 THEN 'ENAM '
            WHEN 7 THEN 'TUJUH '
            WHEN 8 THEN 'DELAPAN '
            ELSE 'SEMBILAN ' END ) + 'RATUS '

    SET @dummy = CONVERT(bigint,@dividen) % 100

    IF @dummy < 10.00
    BEGIN
        IF @dummy = 1.00 AND @unit = 'RIBU'
        BEGIN
            IF @dividen=@dummy
                SET @weight = @weight + 'SE'
            ELSE
                SET @weight = @weight + 'SATU '
        END
        ELSE
        IF @dummy > 0.00
            SET @weight = @weight + (CASE @dummy
                WHEN 1 THEN 'SATU '
                WHEN 2 THEN 'DUA '
                WHEN 3 THEN 'TIGA '
                WHEN 4 THEN 'EMPAT '
                WHEN 5 THEN 'LIMA '
                WHEN 6 THEN 'ENAM '
                WHEN 7 THEN 'TUJUH '
                WHEN 8 THEN 'DELAPAN '
                ELSE 'SEMBILAN ' END)
    END
    ELSE
    IF @dummy BETWEEN 11 AND 19
        SET @weight = @weight + (CASE CONVERT(bigint,@dummy) % 10
            WHEN 1 THEN 'SE'
            WHEN 2 THEN 'DUA '
            WHEN 3 THEN 'TIGA '
            WHEN 4 THEN 'EMPAT '
            WHEN 5 THEN 'LIMA '
            WHEN 6 THEN 'ENAM '
            WHEN 7 THEN 'TUJUH '
            WHEN 8 THEN 'DELAPAN '
            ELSE 'SEMBILAN ' END ) + 'BELAS '
    ELSE
    BEGIN
        SET @weight = @weight + (CASE FLOOR(@dummy / 10)
            WHEN 1 THEN 'SE'
            WHEN 2 THEN 'DUA '
            WHEN 3 THEN 'TIGA '
            WHEN 4 THEN 'EMPAT '
            WHEN 5 THEN 'LIMA '
            WHEN 6 THEN 'ENAM '
            WHEN 7 THEN 'TUJUH '
            WHEN 8 THEN 'DELAPAN '
            ELSE 'SEMBILAN ' END ) + 'PULUH '
        IF CONVERT(bigint,@dummy) % 10 > 0
            SET @weight = @weight + (CASE CONVERT(bigint,@dummy) % 10
                WHEN 1 THEN 'SATU '
                WHEN 2 THEN 'DUA '
                WHEN 3 THEN 'TIGA '
                WHEN 4 THEN 'EMPAT '
                WHEN 5 THEN 'LIMA '
                WHEN 6 THEN 'ENAM '
                WHEN 7 THEN 'TUJUH '
                WHEN 8 THEN 'DELAPAN '
                ELSE 'SEMBILAN ' END )
    END
   
    SET @the_word = @the_word + @weight + @unit
    SET @divisor = @divisor / 1000.00
END

IF FLOOR(@the_amount) = 0.00
    SET @the_word = 'NOL '

SET @follower = ''
IF @tiny_amount < 10.00
BEGIN   
    IF @tiny_amount > 0.00
        SET @follower = 'KOMA NOL ' + (CASE @tiny_amount
            WHEN 1 THEN 'SATU '
            WHEN 2 THEN 'DUA '
            WHEN 3 THEN 'TIGA '
            WHEN 4 THEN 'EMPAT '
            WHEN 5 THEN 'LIMA '
            WHEN 6 THEN 'ENAM '
            WHEN 7 THEN 'TUJUH '
            WHEN 8 THEN 'DELAPAN '
            ELSE 'SEMBILAN ' END)
END
ELSE
BEGIN
    SET @follower = 'KOMA ' + (CASE FLOOR(@tiny_amount / 10.00)
            WHEN 1 THEN 'SATU '
            WHEN 2 THEN 'DUA '
            WHEN 3 THEN 'TIGA '
            WHEN 4 THEN 'EMPAT '
            WHEN 5 THEN 'LIMA '
            WHEN 6 THEN 'ENAM '
            WHEN 7 THEN 'TUJUH '
            WHEN 8 THEN 'DELAPAN '
            ELSE 'SEMBILAN ' END)
    IF CONVERT(bigint,@tiny_amount) % 10 > 0
        SET @follower = @follower + (CASE CONVERT(bigint,@tiny_amount) % 10
            WHEN 1 THEN 'SATU '
            WHEN 2 THEN 'DUA '
            WHEN 3 THEN 'TIGA '
            WHEN 4 THEN 'EMPAT '
            WHEN 5 THEN 'LIMA '
            WHEN 6 THEN 'ENAM '
            WHEN 7 THEN 'TUJUH '
            WHEN 8 THEN 'DELAPAN '
            ELSE 'SEMBILAN ' END)
END
   
SET @the_word = @the_word + @follower

IF @the_amount < 0.00
    SET @the_word = 'MINUS ' + @the_word
   
RETURN @the_word
END
GO
/****** Object:  Table [dbo].[Tm_Alert]    Script Date: 5/30/2018 4:14:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Alert](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[GroupId] [int] NULL,
	[AlertName] [nvarchar](50) NULL,
	[Frequency] [int] NULL,
	[IsActive] [char](1) NULL,
	[Sql] [nvarchar](2000) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Alert] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Alert_Role]    Script Date: 5/30/2018 4:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Alert_Role](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Alert_Role] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Alert_User]    Script Date: 5/30/2018 4:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Alert_User](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Alert_User] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_AlertGroup]    Script Date: 5/30/2018 4:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_AlertGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[GroupName] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
	[SortCode] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_AlertGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Approval]    Script Date: 5/30/2018 4:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Approval](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[FormCode] [nvarchar](50) NULL,
	[ApprovalName] [nvarchar](50) NULL,
	[IsActive] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Approval] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Approval_Role]    Script Date: 5/30/2018 4:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Approval_Role](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Approval_Role] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Approval_User]    Script Date: 5/30/2018 4:14:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Approval_User](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Approval_User] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_GeneralSetting]    Script Date: 5/30/2018 4:14:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_GeneralSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[ChangePassDays] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_GeneralSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Layout]    Script Date: 5/30/2018 4:14:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Layout](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[LayoutFormCode] [nvarchar](50) NULL,
	[LayoutName] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
	[Uid] [uniqueidentifier] NULL,
	[Data] [image] NULL,
	[OutputType] [nvarchar](50) NULL,
	[IsActive] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Layout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Layout_Role]    Script Date: 5/30/2018 4:14:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Layout_Role](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Layout_Role] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Layout_User]    Script Date: 5/30/2018 4:14:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Layout_User](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Layout_User] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Query]    Script Date: 5/30/2018 4:14:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Query](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[GroupId] [int] NULL,
	[QueryName] [nvarchar](50) NULL,
	[IsActive] [char](1) NULL,
	[Sql] [nvarchar](2000) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Query] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Query_Param]    Script Date: 5/30/2018 4:14:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Query_Param](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[SortCode] [nvarchar](50) NULL,
	[ParamName] [nvarchar](200) NULL,
	[IsMandatory] [char](1) NULL,
	[IsHide] [char](1) NULL,
	[TypeData] [nvarchar](50) NULL,
	[Caption] [nvarchar](200) NULL,
	[DefaultValue] [nvarchar](200) NULL,
	[Sql] [nvarchar](max) NULL,
	[TypeControl] [nvarchar](50) NULL,
	[TypeChoose] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Query_Param] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Query_Role]    Script Date: 5/30/2018 4:14:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Query_Role](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Query_Role] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Query_User]    Script Date: 5/30/2018 4:14:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Query_User](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Query_User] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_QueryGroup]    Script Date: 5/30/2018 4:14:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_QueryGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[GroupName] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
	[SortCode] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_QueryGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_QueryGroup_Role]    Script Date: 5/30/2018 4:14:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_QueryGroup_Role](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_QueryGroup_Role] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_QueryGroup_User]    Script Date: 5/30/2018 4:14:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_QueryGroup_User](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_QueryGroup_User] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Report]    Script Date: 5/30/2018 4:14:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Report](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[GroupId] [int] NULL,
	[ReportName] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
	[Uid] [uniqueidentifier] NULL,
	[Data] [image] NULL,
	[OutputType] [nvarchar](50) NULL,
	[IsActive] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Report] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Report_Param]    Script Date: 5/30/2018 4:14:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Report_Param](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[SortCode] [nvarchar](50) NULL,
	[ParamName] [nvarchar](200) NULL,
	[IsMandatory] [char](1) NULL,
	[IsHide] [char](1) NULL,
	[TypeData] [nvarchar](50) NULL,
	[Caption] [nvarchar](200) NULL,
	[DefaultValue] [nvarchar](200) NULL,
	[Sql] [nvarchar](max) NULL,
	[TypeControl] [nvarchar](50) NULL,
	[TypeChoose] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Report_Param] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Report_Role]    Script Date: 5/30/2018 4:14:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Report_Role](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Report_Role] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Report_User]    Script Date: 5/30/2018 4:14:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Report_User](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_Report_User] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_ReportGroup]    Script Date: 5/30/2018 4:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_ReportGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[GroupName] [nvarchar](50) NULL,
	[Description] [nvarchar](1000) NULL,
	[SortCode] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_ReportGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_ReportGroup_Role]    Script Date: 5/30/2018 4:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_ReportGroup_Role](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_ReportGroup_Role] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_ReportGroup_User]    Script Date: 5/30/2018 4:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_ReportGroup_User](
	[Id] [int] NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[IsTick] [char](1) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Tm_ReportGroup_User] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Role]    Script Date: 5/30/2018 4:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[RoleName] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
 CONSTRAINT [PK_Ts_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_Role_Auth]    Script Date: 5/30/2018 4:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_Role_Auth](
	[Id] [int] NOT NULL,
	[MenuCode] [nvarchar](50) NOT NULL,
	[DetId] [int] IDENTITY(1,1) NOT NULL,
	[IsAccess] [char](1) NULL,
 CONSTRAINT [PK_Tm_Role_Auth] PRIMARY KEY CLUSTERED 
(
	[DetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tm_User]    Script Date: 5/30/2018 4:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tm_User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransType] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MidleName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[EmailPassword] [nvarchar](50) NULL,
	[Pwd] [nvarchar](50) NULL,
	[RoleId] [int] NULL,
	[EmpId] [int] NULL,
	[BranchCode] [nvarchar](50) NULL,
	[LastController] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedUser] [int] NULL,
	[ModifiedPassDate] [datetime] NULL,
 CONSTRAINT [PK_Tm_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tp_UserAlert]    Script Date: 5/30/2018 4:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tp_UserAlert](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[AlertId] [nvarchar](50) NULL,
	[IsShow] [char](1) NULL,
	[IsExistRecord] [char](1) NULL,
	[LastShowTime] [datetime] NULL,
 CONSTRAINT [PK_Tp_UserAlert] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ts_FormatNumbering]    Script Date: 5/30/2018 4:14:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ts_FormatNumbering](
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[StrPrefix] [nvarchar](50) NULL,
	[StrDateFormat] [nvarchar](50) NULL,
	[Digit] [int] NULL,
 CONSTRAINT [PK_Ts_FormatNumbering] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ts_LayoutForm]    Script Date: 5/30/2018 4:14:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ts_LayoutForm](
	[LayoutFormCode] [nvarchar](50) NOT NULL,
	[LayoutFormName] [nvarchar](50) NULL,
	[Sort] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ts_LayoutGroup] PRIMARY KEY CLUSTERED 
(
	[LayoutFormCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ts_List]    Script Date: 5/30/2018 4:14:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ts_List](
	[Type] [nvarchar](50) NOT NULL,
	[Sort] [nvarchar](50) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ts_List] PRIMARY KEY CLUSTERED 
(
	[Type] ASC,
	[Sort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ts_Menu]    Script Date: 5/30/2018 4:14:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ts_Menu](
	[MenuCode] [varchar](50) NOT NULL,
	[MenuName] [varchar](50) NULL,
	[Url] [varchar](150) NULL,
	[ParentCode] [varchar](50) NULL,
	[Sort] [varchar](50) NULL,
 CONSTRAINT [PK_Ts_Menu_1] PRIMARY KEY CLUSTERED 
(
	[MenuCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tm_GeneralSetting] ON 

INSERT [dbo].[Tm_GeneralSetting] ([Id], [TransType], [ChangePassDays], [CreatedDate], [CreatedUser], [ModifiedDate], [ModifiedUser]) VALUES (1, N'GeneralSetting', 0, NULL, 3, CAST(N'2018-05-15T16:47:29.923' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tm_GeneralSetting] OFF
SET IDENTITY_INSERT [dbo].[Tm_Role] ON 

INSERT [dbo].[Tm_Role] ([Id], [TransType], [RoleName], [CreatedDate], [CreatedUser], [ModifiedDate], [ModifiedUser]) VALUES (1, N'Role', N'Administrator', CAST(N'2018-05-30T14:42:14.547' AS DateTime), 1, CAST(N'2018-05-30T14:42:14.547' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Tm_Role] OFF
SET IDENTITY_INSERT [dbo].[Tm_Role_Auth] ON 

INSERT [dbo].[Tm_Role_Auth] ([Id], [MenuCode], [DetId], [IsAccess]) VALUES (1, N'Master', 1, N'Y')
INSERT [dbo].[Tm_Role_Auth] ([Id], [MenuCode], [DetId], [IsAccess]) VALUES (1, N'Transaction', 2, N'Y')
INSERT [dbo].[Tm_Role_Auth] ([Id], [MenuCode], [DetId], [IsAccess]) VALUES (1, N'Reports', 3, N'Y')
SET IDENTITY_INSERT [dbo].[Tm_Role_Auth] OFF
SET IDENTITY_INSERT [dbo].[Tm_User] ON 

INSERT [dbo].[Tm_User] ([Id], [TransType], [UserName], [FirstName], [MidleName], [LastName], [Email], [EmailPassword], [Pwd], [RoleId], [EmpId], [BranchCode], [LastController], [CreatedDate], [CreatedUser], [ModifiedDate], [ModifiedUser], [ModifiedPassDate]) VALUES (1, N'User', N'admin', N'admin', NULL, NULL, NULL, N'dumPWev53hJPQ+lQOTnJwQ==', N'5gPNqhmBNpf/o5q8UUfhug==', 1, 295, NULL, N'Query', CAST(N'2018-05-30T14:42:58.740' AS DateTime), 1, CAST(N'2018-05-30T14:42:58.740' AS DateTime), 1, CAST(N'2018-05-30T14:42:58.740' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tm_User] OFF
INSERT [dbo].[Ts_FormatNumbering] ([Code], [Name], [StrPrefix], [StrDateFormat], [Digit]) VALUES (N'Bpk', N'Bpk', N'FN-BK-', N'YY', 5)
INSERT [dbo].[Ts_LayoutForm] ([LayoutFormCode], [LayoutFormName], [Sort]) VALUES (N'TicketBlank', N'TicketBlank', N'01.01')
INSERT [dbo].[Ts_List] ([Type], [Sort], [Code], [Name], [Category]) VALUES (N'Boolean', N'0', N'Y', N'Yes', NULL)
INSERT [dbo].[Ts_List] ([Type], [Sort], [Code], [Name], [Category]) VALUES (N'Boolean', N'1', N'N', N'No', NULL)
INSERT [dbo].[Ts_List] ([Type], [Sort], [Code], [Name], [Category]) VALUES (N'BooleanAll', N'0', N'All', N'All', NULL)
INSERT [dbo].[Ts_Menu] ([MenuCode], [MenuName], [Url], [ParentCode], [Sort]) VALUES (N'Alert', N'Alert', NULL, N'Setting-Alert', N'400302')
INSERT [dbo].[Ts_Menu] ([MenuCode], [MenuName], [Url], [ParentCode], [Sort]) VALUES (N'Alert/Add', N'Add', N'Alert/Add', N'Alert', N'40030202')
INSERT [dbo].[Ts_Menu] ([MenuCode], [MenuName], [Url], [ParentCode], [Sort]) VALUES (N'Alert/Delete', N'Delete', N'Alert/Delete', N'Alert', N'40030204')
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tm_User_1]    Script Date: 5/30/2018 4:14:26 PM ******/
ALTER TABLE [dbo].[Tm_User] ADD  CONSTRAINT [IX_Tm_User_1] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ts_List]    Script Date: 5/30/2018 4:14:26 PM ******/
ALTER TABLE [dbo].[Ts_List] ADD  CONSTRAINT [IX_Ts_List] UNIQUE NONCLUSTERED 
(
	[Type] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SpSysGetNumbering]    Script Date: 5/30/2018 4:14:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SpSysGetNumbering] 
(
@UserId INT,
@Code NVARCHAR(50), 		 
@Date DATETIME,
@DefaulPrefix NVARCHAR(50)=''	 
)
AS 
BEGIN


DECLARE @SapDb NVARCHAR(30);
SELECT @SapDb=DBO.[SpSysGetSapDb]();

DECLARE @SQL NVARCHAR(MAX);
 
DECLARE @Prefix NVARCHAR(50);
DECLARE @Digit INT;

DECLARE @NOL NVARCHAR(50)='000000000000000000000000000';
DECLARE @LastNo NVARCHAR(50);

 


SELECT @Prefix= CASE WHEN ISNULL(@DefaulPrefix,'')<>'' THEN @DefaulPrefix ELSE T0.StrPrefix END  +'-'+ DBO.[__IDU_fnFormatDate](@Date,T0.StrDateFormat) ,
	@Digit=T0.Digit 
FROM Ts_FormatNumbering T0 
WHERE T0.Code=@Code;  

 

IF @LastNo IS NULL 
BEGIN
	SELECT @Prefix+LEFT(@NOL,@Digit-1)+'1'  AS Num

END 
ELSE 
BEGIN
	DECLARE @IntNewLastNo INT=CONVERT(INT,RIGHT(@LastNo,@Digit))+1;
	DECLARE @StrNewLastNo NVARCHAR(50)=CONVERT(NVARCHAR(50),@IntNewLastNo);

	SELECT @Prefix+LEFT(@NOL,@Digit-LEN(@StrNewLastNo))+@StrNewLastNo  AS Num
END

 

end









































GO
/****** Object:  StoredProcedure [dbo].[SpSysGetViewJe]    Script Date: 5/30/2018 4:14:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SpSysGetViewJe] 
(
@Code NVARCHAR(50), 				 
@Id BIGINT		 
)
AS 
BEGIN
	DECLARE @TEMO INT;
	------------------
	--Ticket
	------------------
	--IF @Code='TicketArInvoice'
	--BEGIN
	--	EXEC SpTicketArInvoice_SapViewJe @Id;
	--END 
	 
END






































GO
/****** Object:  StoredProcedure [dbo].[SpSysPrintLayoutNotif]    Script Date: 5/30/2018 4:14:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROC [dbo].[SpSysPrintLayoutNotif] 
(  
@Controler NVARCHAR(100),  
@FieldValues NVARCHAR(255) ,  
@UserId INT  
)
AS

begin

-- Return values
declare @error  int	;			-- Result (0 for no error)
declare @error_message nvarchar (200) ;		-- Error string to be displayed
SET @error = 0;
SET @error_message = N'Ok' ; 
 
 

select @error as error , @error_message as [error_message];

end






































GO
/****** Object:  StoredProcedure [dbo].[SpSysTransNotif]    Script Date: 5/30/2018 4:14:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
CREATE PROC [dbo].[SpSysTransNotif] 
( 
@UserId INT,
@Category NVARCHAR(100),  --[before], [after]
@ObjCode NVARCHAR(100),  --dbo.TableName
@TransType NVARCHAR(100), -- [add], [update], [delete] ,[post], [cancel], ;--add: tidak ada before	 
@FieldKeys  NVARCHAR(255),
@FieldValues NVARCHAR(255),
@FieldParentValues NVARCHAR(255) --> Yg sekarang hanya di tambahkan di detail series reservation DAN invoice :d
)
AS

begin

-- Return values
DECLARE @error  int	;			-- Result (0 for no error)
DECLARE @error_message nvarchar (200) ;		-- Error string to be displayed
SET @error = 0;
SET @error_message = N'Ok' ;

/*
Sebenarnya sql server akan men skip sendiri error yg ngak penting,
misalkan error "String or binary data would be truncated." jika row kosong akan di skip,
tapi entah mengapa jika Sp di exec lewat DI API sap : jika terjadi error yg demikian akan melakukan exec sebanyak 2 kali,
MAKA DARI ITU JIKA TERJADI ERROR YG DEMIKIAN DI ANGGAP ERROR YG BIASA SAJA TANPA DI SKIP AGAR TRANSAKSI DI BLOCK SEKALIAN

*/
BEGIN TRY 
 
DECLARE @SapDb NVARCHAR(30);
SELECT @SapDb=DBO.[SpSysGetSapDb]();

DECLARE @TempBigInt BIGINT;

DECLARE @SQL NVARCHAR(MAX);
DECLARE @I INT;
 

END  TRY
BEGIN CATCH
	--DECLARE @ER1 VARCHAR(2000), @ER2 TINYINT,@ER3 TINYINT;

	--SET @ER1= ERROR_MESSAGE();
	--SET @ER2= ERROR_SEVERITY();
	--SET @ER3= ERROR_STATE();
	SET @error=-100;
	SET @error_message=ERROR_MESSAGE();
	 

END CATCH


select @error as error , @error_message as [error_message];

end







































GO
